@import '../../../../assets/styles/variables.scss';

.inputBlock {
  margin-top: 16px;
  &:first-child {
    margin-top: 0;
  }

  label {
    text-align: center;
    color: $color_red;
    @include font(500, 16px);
    display: none;
    margin-top: 12px;

    &.active {
      display: block;
    }
  }

  .formInput {
    border-radius: 8px;
    padding: 16px;
    background: $color_plashka;
    border: 1px solid $color_Minor_text;
    color: $color_white;
    @include font(600, 16px);
   

    &::placeholder {
      @include font(400, 16px);
      color: $color_Minor_text;
    }

    &:focus {
      border-color: $color_accent;
      color: $color_accent;
      outline: none;
    }

    &.verificationPassed {
      border: 1px solid $color_green;
    }

    &.verificationFailed {
      border: 1px solid $color_red;
    }
  }
}
