@use '@/styles/mixins' as *;

.inputBlock {
  margin-bottom: 16px;
  &:first-child {
    margin-top: 0;
  }

  label {
    text-align: center;
    color: var(--red);
    @include font(16px, 16px, 500);
    display: none;
    margin-top: 12px;

    &.active {
      display: block;
    }
  }

  .formInput {
    border-radius: 8px;
    padding: 16px;
    background: var(--plashka);
    border: 1px solid var(--minorText);
    color: var(--white);
    @include font(16px, 16px, 600);


    &::placeholder {
      @include font(16px, 16px, 400);
      color: var(--minorText);
    }

    &:focus {
      border-color: var(--accent);
      color: var(--accent);
      outline: none;
    }

    &.verificationPassed {
      border: 1px solid var(--green);
    }

    &.verificationFailed {
      border: 1px solid var(--red);
    }
  }
}
