@import '../../../assets/styles/variables.scss';

.registrationPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: $color_dark;
  align-items: center;
  justify-content: center;
}

.registration {
  display: flex;
  width: 400px;
  flex-direction: column;
}

input {
  width: 400px;
}

.logoBLock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  min-height: 53px;
}

.text-logo {
  color: $color_white;
  @include font(400, 20px);

  margin-top: 8px;
}

.form {
  margin-top: 48px;
}

.wrapper-button {
  margin-top: 16px;
}

.text {
  margin-top: 24px;
  margin-bottom: 12px;
  @include font(500, 16px);
  text-align: center;
  color: $color_white;
}
