@use '../../styles/mixins' as *;

.authorize_page {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--dark);
  justify-content: center;
}

.widthInput {
  width: 400px;
}

.logo_wrapper {
  &_title{
    color: var(--white);
    @include font(20px, 20px, 400);
    margin-top: 8px;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  input {
    width: 400px;
  }
}


