:root {
  --transparent: transparent;
  --white: #e2e6e9;
  --minorText: #707891;
  --dark: #0c142d;
  --plashka: #1e1e37;
  --background: #2a324b;
  --accent: #568fcb;
  --blueGray: #6099d5;
  --links: #bb7cd7;
  --red: #ef505c;
  --green: #17c055;
}