@use '@/styles/mixins' as *;

.formButton {
  padding: 10px;
  background: var(--blueGray);
  border-radius: 8px;
  width: 100%;
  color: var(--white);
  border: 1px solid var(--blueGray);
  @include font( 16px, 16px, 500);
  cursor: pointer;
  transition: var(--transition-base);

  &:hover {
    background-color: var(--background);
  }

  &.active {
    background-color: var(--background);
    border: 1px solid var(--blueGray);
    &:hover {
      background-color: var(--blueGray);
    }
  }

  &:disabled {
    opacity: 0.5;
    background: var(--blueGray);
    cursor: default;
    &:hover {
      background: var(--blueGray);
    }
  }
}
